*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
 
}
.logo{
    display: flex; 
    justify-content: top; 
    align-items: top; 
    padding-left: 0.5%;
    padding-top: 1%;
    background-image: linear-gradient(to right, #5f5f5f, #b43434);
}
.chat-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #5f5f5f, #b43434);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.chat-box{
    flex: 1;
    background: #646464a2;
    width: 100%; 
    height: 60%;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: scroll; /*kann in Chatbox scrollen*/
}
.chat-box::-webkit-scrollbar {
    width: 10px;               /* Weite Scrollbar */
  }
  
.chat-box::-webkit-scrollbar-track {
    background: rgb(97, 95, 92);        /* Farbe Tracking Feld */
  }
  
.chat-box::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.39);    /* Farben für Rahmen und Scrollbar */
    border-radius: 15px;      
    border: 3px solid rgb(255, 0, 0);  
  }
.msg-row{
    display: flex;
    align-items: center;
    margin: 40px;
    box-sizing: border-box;
    border-radius: 20px;
}
.text-box{
    border: 0;
    outline: none;
    padding: 20px 40px;
    background: #c71515;
    color: #fff;
    top: 65%;
    width: 20%;
    font-size: 16px;
    font-weight: 300;
}
::placeholder{
    color: #fff;
}
.connected-users-box{
    text-align: center;
    
    font-weight: 400;
    color: #f5f4f4;
    box-sizing: border-box;
    
    border: dotted green;
    background-image: linear-gradient(to right, #5f5f5f, #b43434);
}
.connectedUsers{
    list-style: none;
    padding: 30px;
}

.message{
    box-sizing: border-box;
    border-radius: 10px;
    float: left;
    width: 80%;
    margin: 4px;
    padding: 10px;
    background-color: rgb(54, 50, 50);
    word-wrap: break-word;
}

.myMessage{
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
    width: 80%;
    margin: 4px;
    padding: 8px;
    text-align: right;
    background-color: rgb(112, 108, 108);
    word-wrap: break-word;
}
.text-box{
    text-align: center;
    margin: 3%;
    font-weight: 400;
    color: #f5f4f4;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #5f5f5f93;
}
.insertbox{
    text-align: center;
    color: #f5f4f4;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #5f5f5f93;
}
.btn{
    text-align: center;
    margin: 2%;
    font-size: 80%;
    color: #f5f4f4;
    box-sizing: border-box;
    border-radius: 10px;
    border: double;
    background-color: #f00b0b85;
}
.smiley-box {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100px;
    margin-bottom: 32px;
    transition: opacity 0.2s;
}

.hidden {
  opacity: 0;
}

.smiley {
    text-align: center;
    font-size: 24px;
    padding: 8px;
}

.smiley:hover {
    cursor: pointer;
}
.typing-users-box{
    position:relative;
    top: 15%;
    right: 16%;
    margin: 1px;
    text-align: center;

    font-weight: 400;
    color: #f5f4f4;
    box-sizing: border-box;

    border: dotted green;
    background-image: linear-gradient(to right, #5f5f5f, #b43434);
}
.typingUsers{
    list-style: none;
    padding: 30px;
}