*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
 
}
.logo{
    display: flex; 
    justify-content: top; 
    align-items: top; 
    padding-left: 0.5%;
    padding-top: 1%;
    background-image: linear-gradient(to right, #5f5f5f, #b43434);
}
.chat-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #5f5f5f, #b43434);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.chat-box{
    flex: 1;
    background: #646464;
    width: 100%; 
}
.msg-row{
    display: flex;
    align-items: center;
    margin: 40px;
}
.text-box{
    border: 0;
    outline: none;
    padding: 20px 40px;
    background: #c71515;
    color: #fff;
    top: 65%;
    width: 20%;
    font-size: 16px;
    font-weight: 300;
    

}
::placeholder{
    color: #fff;
}
.connected-users-box{
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
    color: #383838;
}
.connectedUsers{
    list-style: none;
    padding: 30px;
}
